.user-info {
  display: flex;
  align-items: center;

  .photo {
    background-color: var(--gray-dark);
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: stretch;

    .Mock {
      font-size: 1rem;
      color: var(--white);

      align-self: center;
    }
  }
}
